* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 90%;
	margin: 10px auto;
}

/*Utilizzato provvisoriamente per vedere i blocchi*/
.container * {
	border: 1px solid black;
}

.row {
	margin: 10px 0;
}


/*prima riga*/
.row header {
	height: 200px;
}

.row .nav-header {
	height: 40px;
}


/*seconda riga*/
.row .nav-main {
	height: 400px;
	width: 25%;
	float: left;
}

.row article {
	height: 200px;
	width: 50%;
	float: left;
}

.row aside {
	height: 800px;
	width: 25%;
	float: left;
}

/*clearfix per dimensionare il contenitore dei float*/
.row main::after {
	content: '';
	display: table;
	clear: both;
}
