/*Inizializzazione Github*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 70%;
	margin: 10px auto;
}

/*Utilizzato provvisoriamente per vedere i blocchi*/
.container * {
	border: 1px solid black;
}


/*IMPORTANTE: quasi tutte le altezze che impongo ora ai blocchi
verranno tolte quando ci saranno contenuti*/

.row {
	margin: 10px 0;
}


/*--prima riga--*/
.row header {
	height: 160px;
}

.row .nav-header {
	height: 40px;
}



/*--seconda riga--*/
.row .nav-main {
	height: 300px;
	width: 22%;
	float: left;
}

.row article {
	height: 200px;
	width: 47%;
	float: left;
	margin: 0 4.5%;
}

.row aside {
	height: 600px;
	width: 22%;
	float: right;
}

.row aside section {
	height: 30%;
	width: 100%;
	margin-bottom: 10px;
}

.row main::after {
	/*clearfix per dimensionare automaticamente il contenitore dei float*/
	content: '';
	display: table;
	clear: both;
}



/*--terza riga--*/
.row footer {
	height: 140px;
}