* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 90%;
	margin: 10px auto;
}

/*Utilizzato provvisoriamente per vedere i blocchi*/
.container * {
	border: 1px solid black;
}

.container .row {
	margin: 10px 0;
}

.container .row header {
	height: 200px;
}

.container .row .nav-header {
	height: 40px;
}